@import 'variables';
@import 'poppins';

@import 'bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";

/*
 * stylesheet starts here
 */

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

/* sidebar */
.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #7743DB;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 280px;
    min-width: 280px;
    background-color: #4c2c86;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
    transition: transform 0.3s ease;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
    transition: transform 0.3s ease;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
    transition: all 0.35s ease-in-out;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #212121;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.35s ease-in-out;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* for hamburger menu */
.rotate-vertical {
    transform: rotate(90deg);
    transform-origin: center;
    transition: transform 0.3s ease;
}

/* gradient button */
.btn-gradient {
    background: linear-gradient(45deg, #7743DB, #4d3083);
    transition: all 0.3s ease; 
}

/* drop content area */
#drop-area {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    min-height: 2in;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

#droppedContent {
    position: absolute;
    background-color: #212121;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#droppedContent::-webkit-scrollbar {
    width: 8px;
}

#droppedContent::-webkit-scrollbar-track {
    background-color: #444;
}

#droppedContent::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

#droppedContent::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.drop-icon i {
    color: #888;
    font-size: 4.5rem;
}

.full-height {
    height: 100vh;
}

/*
 * action button
 */
.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}
.fab:hover {
    transition: all 0.3s ease-in-out;
}